html {
  overflow-y: scroll;

  font-size: 100%;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  color: #283136;

  background: #ffffff;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  padding-top: 50px;

  background: #eeeeee;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  -webkit-box-align: end;
  -webkit-box-pack: center;
  -ms-flex-align: end;
  -ms-flex-pack: center;
}

.main-header img {
  width: 160px;
  height: 65px;
  margin-right: 200px;

  cursor: pointer;

  -webkit-transition: opacity 0.1s ease-in;
       -o-transition: opacity 0.1s ease-in;
          transition: opacity 0.1s ease-in;
}

.main-header img:hover,
.main-header img:focus {
  opacity: 0.8;
}

.main-header img:active {
  opacity: 0.3;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px;
}

.main-nav a {
  padding: 9px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  -webkit-transition: color 0.15s ease-in;
       -o-transition: color 0.15s ease-in;
          transition: color 0.15s ease-in;
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 640px;
  margin: 0;
  margin-right: 45px;
  padding: 0;

  list-style: none;
}

.nav-items a {
  margin-right: 48px;
}

.main-nav .basket-item {
  width: 115px;
  margin: 0;
  padding: 0;

  list-style: none;

  background: #eeeeee url(../img/Sprites/sprite.png) -15px -8px;
}

.basket-item a {
  padding-left: 40px;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #fb565a;
}

.main-nav a:active {
  color: #000000;

  opacity: 0.3;
}

.main-slider {
  margin-bottom: 80px;

  background: #eeeeee;
}

.main-slider input[type="radio"] {
  display: none;
}

.main-slides {
  position: relative;

  width: 1160px;
  margin: 0 auto;
}

.main-slides .slider-control {
  position: absolute;
  bottom: 95px;
  left: 50%;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 18px;

  vertical-align: middle;
  text-align: center;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-control label {
  position: relative;

  display: block;
  width: 18px;
  height: 18px;
  margin-right: 15px;

  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-control label:last-child {
  margin-right: 0;
}

.slider-control label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;

  border: 2px solid #ffffff;
  border-color: transparent;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slides-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: nowrap;
  width: 1160px;
  height: 430px;
  margin: 0 auto;
  overflow: hidden;

  -ms-flex-wrap: nowrap;
}

.main-slide {
  flex-shrink: 0;
  width: 1160px;
  height: 430px;
  visibility: hidden;

  transition: 0.5s ease-in;

  -ms-flex-negative: 0;
}

.main-slide:nth-of-type(1) {
  background: #eeeeee url(../img/slide1.png) no-repeat 93% 100%;
}

.main-slide:nth-of-type(2) {
  background: #eeeeee url(../img/slide2.png) no-repeat 93% 100%;
}

.main-slide:nth-of-type(3) {
  background: #eeeeee url(../img/slide3.png) no-repeat 93% 100%;
}

.main-slide h2,
.main-slide p {
  width: 560px;
  margin: 0;
}

.main-slide h2 {
  margin-top: 78px;
  margin-bottom: 25px;

  font-weight: 600;
  font-size: 55px;
  line-height: 55px;
}

.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
  padding: 16px 37px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background: #fb565a;
  border-radius: 3px;
}

.main-slide .btn-slider {
  width: 240px;
  margin-top: 40px;

  -webkit-transition: 0.1s ease-in-out;
       -o-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
}

.main-slide .btn-slider:hover,
.main-slide .btn-slider:focus {
  background: #e74246;
}

.main-slide .btn-slider:active {
  color: #e37376;

  background: #d7373b;
  -webkit-box-shadow: inset 0 3px 10px -5px #000000;
          box-shadow: inset 0 3px 10px -5px #000000;
}

#btn-1:checked ~ .main-slides .slider-control label:nth-child(1)::before,
#btn-2:checked ~ .main-slides .slider-control label:nth-child(2)::before,
#btn-3:checked ~ .main-slides .slider-control label:nth-child(3)::before {
  border-color: #c3c3c3;
}

.slider-control label:nth-child(1):hover::before,
.slider-control label:nth-child(1):focus::before,
.slider-control label:nth-child(2):hover::before,
.slider-control label:nth-child(2):focus::before,
.slider-control label:nth-child(3):hover::before,
.slider-control label:nth-child(3):focus::before {
  border-color: #c3c3c3;
}

#btn-1:checked ~ .main-slides .main-slide:nth-of-type(1),
#btn-2:checked ~ .main-slides .main-slide:nth-of-type(2),
#btn-3:checked ~ .main-slides .main-slide:nth-of-type(3) {
  visibility: visible;
}

#btn-2:checked ~ .main-slides .main-slide:nth-of-type(1),
#btn-2:checked ~ .main-slides .main-slide:nth-of-type(2),
#btn-2:checked ~ .main-slides .main-slide:nth-of-type(3) {
  -webkit-transform: translateX(-1160px);
      -ms-transform: translateX(-1160px);
          transform: translateX(-1160px);
}

#btn-3:checked ~ .main-slides .main-slide:nth-of-type(1) {
  -webkit-transform: translateX(-1160px);
      -ms-transform: translateX(-1160px);
          transform: translateX(-1160px);
}

#btn-3:checked ~ .main-slides .main-slide:nth-of-type(2),
#btn-3:checked ~ .main-slides .main-slide:nth-of-type(3) {
  -webkit-transform: translateX(-2320px);
      -ms-transform: translateX(-2320px);
          transform: translateX(-2320px);
}

.main-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 78px;
}

.main-service {
  width: 300px;
}

.main-service img {
  width: 300px;
  height: 146px;
  margin-bottom: 20px;
}

.main-service h2 {
  margin: 0;
  margin-bottom: 15px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-service p {
  width: 260px;
  margin: 0;
}

.main-service .btn {
  margin-top: 33px;

  -webkit-transition: 0.1s ease-in;
       -o-transition: 0.1s ease-in;
          transition: 0.1s ease-in;
}

.main-service .btn-web:hover,
.main-service .btn-web:focus {
  background: #e74246;
}

.main-service .btn-web:active {
  color: #e37376;

  background: #d7373b;
  -webkit-box-shadow: inset 0 3px 10px -5px #000000;
          box-shadow: inset 0 3px 10px -5px #000000;
}

.main-service .btn-apps {
  background: #00ca74;
}

.main-service .btn-apps:hover,
.main-service .btn-apps:focus {
  background: #00bc6c;
}

.main-service .btn-apps:active {
  color: #4dc491;

  background: #00aa62;
  -webkit-box-shadow: inset 0 3px 10px -5px #000000;
          box-shadow: inset 0 3px 10px -5px #000000;
}

.main-service .btn-presentation {
  background: #efc84a;
}

.main-service .btn-presentation:hover,
.main-service .btn-presentation:focus {
  background: #eab534;
}

.main-service .btn-presentation:active {
  color: #edc265;

  background: #e5a722;
  -webkit-box-shadow: inset 0 3px 10px -5px #000000;
          box-shadow: inset 0 3px 10px -5px #000000;
}

.main-service:not(:last-child) {
  margin-right: 100px;
}

.br {
  width: 1160px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 73px;

  background: #eeeeee;
}

.main-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-bottom: 75px;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.description-left {
  width: 660px;
  margin-right: 140px;
}

.description-left h2 {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 45px;
  line-height: 45px;
}

.description-left p {
  margin: 0;
  margin-bottom: 39px;
}

.description-left b {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.description-left ul {
  margin: 0;
  margin-top: 24px;
  padding: 0;
  padding-left: 36px;

  list-style: none;
}

.description-left li {
  position: relative;
}

.description-left li:not(:last-child) {
  margin-bottom: 24px;
}

.description-left li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -35px;

  width: 25px;
  height: 2px;

  background: #fb565a;
}

.description-right {
  width: 360px;
}

.description-right img {
  position: relative;
  top: -31px;
}

.description-right b {
  font-weight: bold;
  text-transform: uppercase;
}

.description-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  list-style: none;
}

.description-right li {
  font-size: 16px;
  line-height: 18px;
}

.description-right li:not(:last-child) {
  margin-right: 25px;
}

.description-right .percent {
  position: relative;

  display: block;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.description-right .percent::after {
  content: "%";
  position: absolute;
  top: -10px;

  font-size: 26px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1160px;
  height: 180px;
  margin: 0 auto;
  margin-bottom: 80px;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-pack: distribute;
}

.client a {
  opacity: 0.2;

  -webkit-transition: 0.1s ease-in-out;
       -o-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
}

.client a:hover,
.client a:focus {
  opacity: 1;
}

.client a:active {
  opacity: 0.1;
}

.main-map {
  position: relative;

  height: 416px;

  background: #ffffff url(../img/map-marker.jpg) no-repeat center;
}

.map-description {
  position: absolute;
  top: 52px;
  left: 7%;

  padding: 50px;

  background: #ffffff;
}

.map-description h2 {
  margin: 0;
  margin-bottom: 21px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.map-description p {
  margin: 0;
  margin-bottom: 18px;

  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.map-description .map-btn {
  width: 219px;
  margin-top: 40px;

  cursor: pointer;

  -webkit-transition: 0.1s ease-in-out;
       -o-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
}

.map-description .map-btn:hover,
.map-description .map-btn:focus {
  background: #e74246;
}

.map-description .map-btn:active {
  color: #e37376;

  background: #d7373b;
  -webkit-box-shadow: inset 0 3px 10px -5px #000000;
          box-shadow: inset 0 3px 10px -5px #000000;
}

.main-footer {
  padding: 70px 0;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 140px;
  margin-left: 20px;
}

.footer-social .social-ico {
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 12px;

  font-size: 0;

  background: #e1e1e1 url(../img/Sprites/sprite-social.png);
  border-radius: 50%;

  -webkit-transition: 0.1s ease-in-out;
       -o-transition: 0.1s ease-in-out;
          transition: 0.1s ease-in-out;
}

.footer-social .social-ico:last-child {
  margin-right: 0;
}

.footer-social .social-ico:hover,
.footer-social .social-ico:focus {
  background-color: #e74246;
}

.footer-social .social-ico:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 10px -5px #000101;
          box-shadow: inset 0 3px 10px -5px #000101;
}

.footer-social .social-vk {
  background-position: -4px -159px;
}

.footer-social .social-fb {
  background-position: 3px -2px;
}

.footer-social .social-inst {
  background-position: 0 -83px;
}

.social-info h2 {
  margin: 0;
  margin-bottom: 7px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.social-info p {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/* ==== Modal Feadback ==== */

@-webkit-keyframes popup-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes popup-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }

  70% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }

  90% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }

  70% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }

  90% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.popup-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  display: none;

  background-color: transparent;
}

.popup-close {
  display: none;
}

.popup-wrapper .feadback-close {
  display: block;
  width: 100%;
  height: 100%;

  background-color: transparent;
  cursor: pointer;
}

.popup-modal {
  display: none;
}

.popup-wrapper .feadback {
  position: absolute;
  top: 50%;
  left: 50%;

  margin: auto;
  padding: 85px 100px;

  background: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup-wrapper .feadback-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.feadback h2 {
  margin: 0;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.feadback .close-feadback {
  position: relative;

  display: block;
}

.feadback .close-feadback::before,
.feadback .close-feadback::after {
  content: "";
  position: absolute;
  top: 20px;
  right: -15px;

  width: 27px;
  height: 5px;

  background-color: #fecccd;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);

  -webkit-transition: 0.15s ease-in-out;
       -o-transition: 0.15s ease-in-out;
          transition: 0.15s ease-in-out;
}

.feadback .close-feadback::after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.feadback .close-feadback:hover::before,
.feadback .close-feadback:hover::after,
.feadback .close-feadback:focus::before,
.feadback .close-feadback:focus::after {
  background-color: #fb565a;
}

.feadback .close-feadback:active::before,
.feadback .close-feadback:active::after {
  background-color: #ffeeee;
}

.feadback label {
  display: block;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 16px;
  line-height: 18px;

  cursor: pointer;
}

.feadback-row .feadback-column {
  width: 360px;
}

.feadback-row .feadback-column:not(:last-child) {
  margin-right: 40px;
}

.feadback-row input,
.feadback-form textarea {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 16px;

  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #a1a1a1;

  border: 2px solid #d7dcde;
  border-radius: 5px;
}

.feadback-row input:focus,
.feadback-form textarea:focus {
  color: #444444;

  border-color: #000000;
  outline: none;
}

.feadback .btn-feadback {
  margin-top: 50px;

  font: inherit;
  font-size: 16px;
  line-height: 18px;

  border: none;
  cursor: pointer;
}

.popup-modal:checked ~ .popup-wrapper {
  display: block;

  -webkit-animation: popup-opacity 0.6s ease-in-out, bounce 0.6s ease-in-out;
          animation: popup-opacity 0.6s ease-in-out, bounce 0.6s ease-in-out;
}

/* ==== // Modal Feadback ==== */

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
